---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Hero from "../components/Hero.astro";

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <Hero />
    <section class="mx-auto max-w-3xl px-3 md:px-0">
      <h1 class="font-mplus font-bold text-xl my-4 decoration-zinc-400 dark:decoration-zinc-700 decoration-4">Artikel terbaru</h1>
      <div class="grid gap-3 grid-cols-1 md:grid-cols-3">
        {posts.map((post) => (
          <a href={post.url} class="shadow-slate-500 shadow-sm w-full rounded-lg py-2 px-2">
            {post.frontmatter.heroImage && <img class="rounded-lg" src={`${import.meta.env.BASE_URL}${post.frontmatter.heroImage}`} alt="" />}
            <h3 class="text-md font-bold mb-2 tracking-tight line-clamp-2 mt-3">{post.frontmatter.title}</h3>
          </a>
        ))}
      </div>

    </section>
  </Body>
</html>
